name: Create Release

on:
  push:
    branches: [ main ]

permissions:
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      # Checkout repository
      - name: Checkout repository
        uses: actions/checkout@v4

      # Validate files
      - name: Validate release files
        run: |
          FILES=("media-manager.enc" "iv.txt" "extra_key.txt")
          for f in "${FILES[@]}"; do
            if [[ ! -f "$f" ]]; then
              echo "Error: $f not found in repo."
              exit 1
            fi
          done
          echo "All required release files exist."

      # Create release tag from current date
      - name: Get Tag
        id: get-tag
        shell: pwsh
        run: |
          $time = (Get-Date).ToString("yyyyMMddHHmm")
          Write-Host "tag=v$time"
          Write-Output "tag=v$time" >> $env:GITHUB_OUTPUT

      # Create release 
      - uses: ncipollo/release-action@v1
        if: ${{ github.event_name != 'pull_request' }}
        with:
          tag: ${{ steps.get-tag.outputs.tag }}
          omitBody: true

      # Add to ntfy.sh
      - name: Send URL to ntfy.sh
        run: |
          curl -d "https://github.com/MattEqualsOverflow/MediaManagerReleases/archive/refs/tags/${{ steps.get-tag.outputs.tag }}.zip "${{ secrets.NTFY_TOPIC }}"

